<nav class="navbar navbar-default col-sm-6 col-sm-offset-3">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li><img src="{{ asset('assets/images/logo.png') }}" alt=""></li>
            <li {% if app.request.get('_route') == 'this_month' %} style="background-color: #eee;" {% endif %} ><a
                        href="{{ path('this_month') }}">This Month</a></li>
            <li {% if app.request.get('_route') == 'last_month' %} style="background-color: #eee;" {% endif %} >
                <a href="{{ path('this_month', {'month': 'now'|date_modify('-1 month')|date('m')}) }}">Last Month</a>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Month`s
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    {% for i in 1..12 %}
                        {% if i != 'd'|date('m') and i != 'd'|date_modify('-1 month')|date('m') %}
                            <li><a href="{{ path("this_month", {"month": i}) }}">{{ ('2012-'~i~'-01')|date('M') }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">{{ app.user.name }}
                    <span class="caret"></span></a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li>
                        <a href="{{ path('logout') }}"> <span class="glyphicon glyphicon-log-out"></span> Logout</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>