{% extends 'users/base.html.twig' %}
{% block title %}
    {{ parent() }} last month
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="panel panel-success text-center">
                <div class="alert alert-success">
                    <div class="row">
                        <div class="col-md-12">
                            <b>{{ 'now'|date_modify('-1 month')|date('F Y') }}</b>
                            <button type="button"
                                    class="btn btn-success"
                                    data-toggle="modal"
                                    data-target="#exampleModal" style="float: right">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="list-group">
                    <h3>{{ app.user.name }} <span class="glyphicon glyphicon-euro" aria-hidden="true"></span> {{ moneyInWallets[0][1] }}</h3>
                </div>
                {{ include('expenses/includes/show_wallet.html.twig') }}
            </div>
        </div>
    </div>
    {% for transactions in days %}
        {% set totalTrans = 0 %}
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="panel panel-default">
                    <div style="overflow-y: scroll;max-height: 200px;">
                        {% for transaction in transactions %}
                            <div class="list-group" style="margin: 0px">
                                <a data-target="#view-transaction{{ transaction.id }}"
                                   class="list-group-item list-group-item-action list-group-item-light">
                                    {{ transaction.categoryId }} <br>
                                    {{ transaction.description }}
                                    <span class="text-right text-danger"
                                          style="font-weight: bold; float: right">{{ transaction.quantity }}</span>
                                </a>
                            </div>
                            {% set totalTrans = totalTrans + transaction.quantity %}
                            {{ include('expenses/includes/view_transaction.html.twig') }}
                        {% endfor %}
                    </div>
                    <div class="panel-heading">
                        <span>{{ transactions[0].createDate|date('d') }}</span>
                        <span>{{ transactions[0].createDate|date('F Y') }}</span>
                        <span class="text-danger" style="float: right;font-weight: bold">{{ totalTrans }}</span>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}


    {{ include('expenses/includes/add_transaction.html.twig') }}
{% endblock %}
