{% extends 'users/base.html.twig' %}
{% block title %}
    {{ parent() }} this month
{% endblock %}
{% block body %}
    <h1>This month</h1>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        {{ 'transaction.new'|trans }}
    </button>
    {% for transacion in transactions %}

        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading">
                        <span>{{ transacion.createDate|date('d') }}</span>
                        <span>{{ transacion.createDate|date('F Y') }}</span>
                        <span class="text-danger font-weight-bold" style="float: right">55E</span>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-3">
                            <ul class="list-unstyled">
                                <li>{{ transacion.categoryId }}</li>
                                <li>{{ transacion.description }}</li>
                            </ul>
                        </div>
                        <div class="col-md-9 text-right text-danger">
                            {{ transacion.quantity }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}


    {{ include('expenses/includes/add_transaction.html.twig') }}
    <div class="panel panel-default">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <th>categoryid</th>
                <th>quantity</th>
                <th>description</th>
                <th>friends</th>
                <th>createdate</th>
                <th>updatedate</th>
                <th>actions</th>
                </thead>
                <tbody>
                {% for transaction in transactions %}
                    <tr>
                        <td>{{ transaction.categoryid }}</td>
                        <td>{{ transaction.quantity }}</td>
                        <td>{{ transaction.description }}</td>
                        <td>{{ transaction.friends }}</td>
                        <td>{{ transaction.createdate|date('d.m.Y') }}</td>
                        <td>{{ transaction.updatedate|date('d.m.Y') }}</td>
                        <td>
                            <a data-target="#transaction{{ transaction.id }}"
                               title="{{ 'delete'|trans }}"
                               data-toggle="modal"
                               class="btn btn-sm btn-danger ">
                                <i class="fa fa-trash"></i>
                                {{ 'Delete'|trans }}
                            </a>
                            <a href="{{ path('edit_transaction',{id: transaction.id}) }}"
                               title="{{ 'Edit'|trans }}"
                               data-toggle="modal"
                               class="btn btn-sm btn-warning ">
                                <i class="fa fa-update"></i>
                                {{ 'Edit'|trans }}
                            </a>
                        </td>
                    </tr>
                    {{ include('expenses/includes/deletel.html.twig') }}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
