{% extends 'users/base.html.twig' %}
{% block title %}
    {{ parent() }} this month
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-success text-center">
                <div class="alert alert-success">
                   <div class="row">
                       <div class="col-md-12">
                           <b>{{ ('2017-'~(app.request.get('month')?:''|date('m'))~'-01')|date('F') }}</b>
                           <button type="button"
                                   class="btn btn-success"
                                   title="{{ 'transaction.new'|trans }}"
                                   data-toggle="modal"
                                   data-target="#exampleModal" style="float: right">
                               <span class="glyphicon glyphicon-plus"  aria-hidden="true"></span>
                           </button>
                       </div>
                   </div>
                </div>
                <div class="list-group">
                    <a data-target="#user-wallet"
                       data-toggle="modal"
                       title="{{ 'budget.add'|trans }}"
                       class="list-group-item list-group-item-action list-group-item-light"
                       style="cursor: pointer;border: 0">
                        <h3>{{ 'income'|trans }}  <b>{{ moneyInWallets[0][1] }}</b> <span size="3" class="text-success" style="font-size: 15px">euro / month</span> </h3>
                    </a>
                </div>
                {{ include('expenses/includes/show_wallet.html.twig') }}
            </div>
        </div>
    </div>
    {% if days is not empty %}
    {% for transactions in days %}
        {% set totalTrans = 0 %}
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div style="overflow-y: scroll;max-height: 200px;">
                    {% for transaction in transactions %}
                            <div class="list-group" style="margin: 0px">
                                <a data-target="#view-transaction{{ transaction.id }}"
                                   title="{{ 'edit'|trans }}"
                                   data-toggle="modal"
                                   class="list-group-item list-group-item-action list-group-item-light"
                                   style="cursor: pointer">
                                    {{ transaction.categoryId }} <br>
                                    {{ transaction.description }}
                                    <span class="text-right text-danger"
                                          style="font-weight: bold; float: right">{{ transaction.quantity }}</span>
                                </a>
                            </div>
                            {% set totalTrans = totalTrans + transaction.quantity %}
                            {{ include('expenses/includes/view_transaction.html.twig') }}
                    {% endfor %}
                    </div>
                    <div class="panel-heading">
                        <span><b>{{ transactions[0].createDate|date('d F Y') }}</b></span>
                        <span class="text-danger" style="float: right;font-weight: bold">{{ totalTrans }}</span>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    {% else %}
        <div class="alert alert-warning text-center">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            In this month you didn't have any transactions
        </div>
    {% endif %}


    {{ include('expenses/includes/add_transaction.html.twig') }}
    {{ include('expenses/includes/add_wallet.html.twig') }}

{% endblock %}
