{% block body %}
    <h2>{{ 'email.change_password_request'|trans }}</h2>
    {{ 'email.email'|trans }}: {{ user.email }} <br>
{% endblock %}
{% block link %}
    {{ token }}
    <a href="{{ app.request.getSchemeAndHttpHost() ~ path('new_password', {token: token}) }}">{{ 'email.new_password'|trans }}</a>
{% endblock %}
